body{
    font-family: 'TT Lakes';
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: #F8F8F8;
}

.app-main{
    min-height: 100vh;
    max-width: 1650px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
}

img{
    max-width: 100%;
    height: 100%;
}

p{
    margin-top: 0;
}

h1{
    margin: 0;
    padding: 0;
    font-size: 28px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ff3e79;
    transition: .4s ease all;
    cursor: pointer;
}

.icon{
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    color: inherit;
    width: 24px;
    height: 24px;
    transition: .3s ease all;
}

.btn-2{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid #FF3E79;
    transition: .4s ease all;
    cursor: pointer;
}

.button:hover{
    background-color: #FFE0E9;
}

.icon:hover{
    color: #ff3e79;
    fill: #ff3e79;
}


.brands{
    position: relative;
    z-index: 1;
    width: 100%;
}

.brands:before{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #D9FFF5;
}

.brands-inner{
    padding: 15px;
}

.brands-title{
    margin-bottom: 25px;
    font-size: 16px;
    text-transform: uppercase;
    color: #7E7E82;
    letter-spacing: -0.2px;
}

.brands-img{
    display: inline-flex;
    align-items: center;
    width: 128px;
    height: 40px;
}



.brands-item{
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    max-width: 100%;
    width: auto;
    margin-right: 0;
    margin-bottom: 45px;
}

.second-block{
    display: none;
}

.toggle-button{
    display: none;
}


@media only screen and (min-width: 768px){
    
    
    .brands-item{
        margin-bottom: 20px;
    }
    
    .brands{
        position: relative;
        z-index: 1;
    }
    
    .brands:before{
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        height: 1px;
        background: #D9FFF5;
    }
    
    .brands-items__inner{
        display: flex;
        flex-wrap: wrap;
    }
    
    .brands-item{
        max-width: 240px;
        width: 100%;
        margin-bottom: 20px;
        margin-right: 10px;
    }
    
    .brands-item:last-child{
        margin-right: 0;
    }
    
    .brands-inner{
        padding: 32px;
    }
    
    .toggle-button{
        display: inline-flex;
        align-items: center;
        color: #1B1C21;
    }

    .toggle-button.hidden{
        display: none;
    }

    .icon.rotate{
        transform: rotate(180deg);
    }

    .brands-items__inner.second-block{
        display: none;
    }
    
}


@media only screen and (max-width: 768px){
    .toggle-button{
        display: none !important;
    }

    .brands-items__inner.second-block{
        display: none !important;
    }
}
